<article>
  <header class="box width-100 flex flex-column justify-content-center">
    <figure class="post-cover overlay brown-overlay">
      <img src="/public/img/about-header.jpg" alt=" ...">
    </figure>

    <div class="header-post-inner">
      <h1 class="post-title text-white text-bigger">
        Nós amamos <br>
        <span class="post-subtitle">desenvolver</span>
      </h1>
    </div>
  </header>
  <section class="wrapper-content">

    <p class="text-center">
      Apoiado e mantido pela <a class="special-link" href="#">Brain Machine</a>, o We Love Dev
      tem como objetivo a propagação de conteúdo integro e de qualidade para toda a comunidade brasileira de desenvolvimento!
    </p>

    <p class="text-center">
        Seja um amante do desenvolvimento também!
        <br>
        Contribua para a revisão e incremento dos artigos realizando pull request neste
        <a class="special-link" href="https://github.com/we-love-dev/articles.git">repositório</a>.
    </p>

    <h2 class="text-center">
      Fundadores
    </h2>

    <div class="flex justify-content-center flex-wrap">
      {{#each info.authors}}
        <div class="sm-100 md-50 flex justify-content-center flex-row-for-sm">
          <a class="author flex justify-content-center align-items-center flex-column-for-sm flex-row-for-lg"
            href="/author/{{path}}" rel="author" itemprop="author">
            <img class="author-avatar big" src="/public/img/authors/{{image.name}}" alt="{{image.alt}}">
            <h4 class="author-name text-dark">{{nickname}}</h4>
          </a>
        </div>
      {{/each}}
    </div>

    <p class="text-center">
      De amantes do desenvolvimento para amantes do desenvolvimento!
    </p>

  </section>
</article>
