.close-icon {
  width: 16px;
  height: 16px;
  fill: #FFF;
}

.facebook-icon {
  width: 40px;
  height: 40px;
  fill: #EF4955;
}

.github-icon {
  width: 40px;
  height: 40px;
  fill: #EF4955;
}

.google-plus-icon {
  width: 40px;
  height: 40px;
  fill: #EF4955;
}

.linkedin-icon {
  width: 40px;
  height: 40px;
  fill: #EF4955;
}

.menu-icon {
  width: 32px;
  height: 26px;
  fill: #D8D6BF;
}

.search-icon {
  width: 28px;
  height: 28px;
  fill: #3D4650;
}

.twitter-icon {
  width: 40px;
  height: 40px;
  fill: #EF4955;
}
